

html{
	background-color: #aaa;
	height: 20px;
}
.hangmanContainer {
	background-color: #aaa;
}
.hangmanGraphic {
	padding: 10px;
	position:relative;
	display:inline;
}
.diva{
	position:absolute;
	bottom: -3.5em;
	right: 2.3em;
	z-index: 1;
}
.rightBoot {
	position:absolute;
	bottom: -11.1em;
	right: 0.3em;
}
.leftBoot {
	position:absolute;
	bottom: -11.1em;
	right: 5.6em;
}
.heartBoxers{
	position:absolute;
	bottom: -2em;
	right: 3.7em;
}
.helmet{
	position:absolute;
	bottom: 11em;
	right: 4.7em;
}
.firePants{
	position:absolute;
	bottom: -9.7em;
	right: 1.4em;
}
.fireCoat{
	position:absolute;
	bottom: -.5em;
	right: 1.6em;
}
.hose{
	position:absolute;
	bottom: 0.6em;
	right: 6em;
}
.playerStatusLabels {
	font-size: 1.4em;
	padding: 10px 0px 10px 0px;
}

.partiallyRevealedAnswer {
	font-size: 40px;
	text-align: center;
	letter-spacing: 20px;
	padding: 20px;
}
.revealedAnswer{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0%;
	top: 50%;
	font-size: 7em;
	letter-spacing: 20px;
}

#partiallyRevealedAnswer-box{
	display: block;
	clear: both;
}


.buttonBar{
	position: absolute;
	text-align: center;
	padding: 10px 0px 20px 10px;
	width: 100%;
}

.center {
	text-align: center;
}

body footer{
	margin: 0px;
	font-family: "Helvetica neue" Helvetica; 
	background-color: #aaa;
}




