body, html{
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Gafata', sans-serif;
	color: #FFFFFF;
	background: #03608F; /* #023C59 darker and nice*/
	margin: 0 auto;
}

a{
	text-align: center;
	text-decoration:none;
	font-size: 20px;
	color: #aaa;
}
a:visited {color:#fff;}

nav{
	top: 0;
	background-color: #046FA5;
	width: 100%;
	position: fixed;
	z-index: 1;
	box-shadow: 0px 10px 10px #035B87;
}
nav ul{
	width: 100%; /* from above */
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li{
	width: 20%;
	float: left;
}
nav ul li a{
	display: block;
	width: 100%;
	padding: .8em 0em .8em 0em;
}
nav ul li a:hover{
	background: #bbb;/*#0589CC;*/
}
nav ul li a:link {
	text-decoration:none;
	letter-spacing:0.9px;
	color: #eee;
}
nav ul li a:visited {
	color: #eee;
}

div.project_container{
	padding: 1em;
	margin: 1em;
}

figcaption{
	text-align: center;
}
ul.nobullet{
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;

}

div#project_timely_container{
}
div#project_kts_container{
}
div#project_dls_container{
}
div#project_cny_container{
}


img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
	padding-top: .75em;
}

img.project {
	box-shadow: 0px 0px 25px #023047;
}

div{
}

#Scooter_image{
	visibility:hidden;
}

h1{
	padding: 1em 0em 0em 0em;
	font-size: 3em;
	text-align: center;
}
h2{
	font-size: 2em;
	text-align: center;
	line-height: 1em;
}
h4{
	text-align: center;
}

#hi_im_scooter_outer_container{
	text-align: center;
	height: 100%;
	display: block;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}
#hi_im_scooter_inner_container{
	width: 90%;
	top: 35%;
	margin-left: auto;
	margin-right: auto;	
	position: relative; /* THIS LINE moves this box over to the LEFT padding in the outer div...  Which is confusing because the very-well-written tutorial that I'm reading says this is part of making the inner div center vertically...  Puzzled */
}

#tagline{

}

div#projects_container{
	width: 100%;
	padding: 1em 0em 17em 0em;
}

div#resume_container{
	width: 100%;
/*	height: 80%;*/
	padding: 1em 0em 17em 0em;
}

div#about_container{
	padding: 1em 0em 17em 0em;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
}

div#contact_me_container{
	width: 80%;
	padding: 0em 0em 3em 0em;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}
div#contact_me_container ul{
	list-style: none;
	line-height: 3em;
}

div#contact_me_container ul li a:link {
	text-decoration:none;
	letter-spacing:.7px;
	padding: 1em;
}
div#contact_me_container ul li img {
	margin: 0em 0em 0em 0em;
	padding: 0em 1em 0em 0em;
}

footer h4{
	padding: 0px;
	margin: 0px;
}

.img_vert_center{
	vertical-align: middle;
}

footer{
	padding: 18px 0px 18px 0px;
	color: #eee;
	background-color: #046FA5;
	box-shadow: 0px -10px 10px #035B87;
}

.delay1{
  -webkit-animation-delay: .1s;
}

.delay2{
  -webkit-animation-delay: .2s;
}

.delay3{
  -webkit-animation-delay: .3s;
}

.delay4{
  -webkit-animation-delay: .4s;
}

.delay5{
  -webkit-animation-delay: .5s;
}

.delay6{
  -webkit-animation-delay: 1s;
}


