/*
================
 Generic Stuff
================
*/
body, html{
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	background: #03608F; /* #023C59 darker and nice*/
	color: #FFFFFF;
	font-family: 'Gafata', sans-serif;
	margin: 0 auto;
}

a {
	color: #aaa;
	font-size: 20px;
 	text-decoration: none;
	text-align: center;
}
a:visited {
	color: #fff;
}

h1{
	font-size: 3em;
	padding: 1em 0em 0em 0em;
	text-align: center;
}
h2{
	font-size: 2em;
	line-height: 1em;
	text-align: center;
}
h4{
	text-align: center;
}

ul.nobullet{
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img_vert_center{
	vertical-align: middle;
}

img.project {
	box-shadow: 0px 0px 25px #023047;
}

footer h4{
	margin: 0px;
	padding: 0px;
}

footer{
	background-color: #046FA5;
	box-shadow: 0px -10px 10px #035B87;
	color: #eee;
	padding: 18px 0px 18px 0px;
}

.scooter_image{
	padding: 7em 0em 4em 0em;
} 

figcaption{
	padding-top: .75em;
	text-align: center;
}



/*
================
 Navigation bar
================
*/
nav{
	box-shadow: 0px 10px 10px #035B87;
	background-color: #046FA5;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%; /* from above */
}
nav ul li{
	float: left;
	width: 20%;
}
nav ul li a{
	display: block;
	padding: .8em 0em .8em 0em;
	width: 100%;
}
nav ul li a:hover{
	background: #bbb;/*#0589CC;*/
}
nav ul li a:link {
	color: #eee;
	letter-spacing:0.9px;
	text-decoration:none;
}
nav ul li a:visited {
	color: #eee;
}



/*
============
 Containers 
============ 
*/
#hi_im_scooter_outer_container{
	display: block;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
}
#hi_im_scooter_inner_container{
	margin-left: auto;
	margin-right: auto;	
	position: relative;
	top: 35%;
	width: 90%;
}

/* Outer container */
div#projects_container{
	padding: 1em 0em 17em 0em;
	width: 100%;
}

/* Can use a class for this one b/c it's non-unique */
div.project_container{
	padding: 1em;
	margin: 1em;
}

div#resume_container{
	padding: 1em 0em 17em 0em;
	width: 100%;
}

div#about_container{
	margin-left: auto;
	margin-right: auto;
	padding: 1em 0em 17em 0em;
	width: 80%;
}

div#contact_me_container{
	margin-left:auto;
	margin-right:auto;
	padding: 0em 0em 3em 0em;
	text-align: center;
	width: 80%;
}

div#contact_me_container ul{
	line-height: 3em;
	list-style: none;
}

div#contact_me_container ul li a:link {
	letter-spacing:.7px;
	padding: 1em;
	text-decoration:none;
}

div#contact_me_container ul li img {
	margin: 0em 0em 0em 0em;
	padding: 0em 1em 0em 0em;
}


/*
==================
 Animation Delays
==================
*/
.delay1{
  -webkit-animation-delay: .3s;
  	 -moz-animation-delay: .3s;
}

.delay2{
  -webkit-animation-delay: .5s;
     -moz-animation-delay: .5s;
}

.delay3{
  -webkit-animation-delay: .7s;
     -moz-animation-delay: .7s;
}

.delay4{
  -webkit-animation-delay: .9s;
     -moz-animation-delay: .9s;
}

.delay5{
  -webkit-animation-delay: 1.1s;
     -moz-animation-delay: 1.1s;
}

.delay6{
  -webkit-animation-delay: 1.3s;
     -moz-animation-delay: 1.3s;
}

.delayLong{
  -webkit-animation-delay: 10s;
     -moz-animation-delay: 10s;
}