body, html{
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Gafata', sans-serif;
/*	font-family: sans-serif;*/
/*	font-size: 1em;
	font-weight: 200;
	letter-spacing: 0.2px;*/
/*	line-height: 130%;*/
/*	padding: 20px;*/
	color: #FFFFFF;
	background: #03608F; /* #023C59 darker and nice*/
	margin: 0 auto;
}

a{
	text-align: center;
	font-size: 20px;
	color: #aaa;
}
a:visited {color:#fff;}

nav{
	top: 0;
	background-color: #046FA5;
	width: 100%;
	position: fixed;
	z-index: 1;
/*	margin: 0px 0px 20px 0px;*/
/*	padding: 1em 0em 1em 0em;*/
}
nav ul{
	width: 100%; /* from above */
	 list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li{
	width: 20%;
	float: left;
}
nav ul li a{
	display: block;
	width: 100%;
	padding: 1em 0em 1em 0em;
}
nav ul li a:hover{
	background: #eee;/*#0589CC;*/
}

div.project_container{
/*	border: black 1px solid;*/
	padding: 1em;
	margin: 1em;
}

figcaption{
	text-align: center;
}
ul.nobullet li{
/*	list-style-type: none;*/
	margin: -45px;	
}

div#project_timely_container{
}
div#project_kts_container{
}
div#project_dls_container{
}
div#project_cny_container{
}


img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
	padding-top: .75em;
}

img.project {
   padding:3px;
   border:3px solid #FFF;
   background-color:#000;
   border-radius: 10px;
   /*margin-left: -2em;*/ /* Potential fix for li taking up space */
}

div{
}

#Scooter_image{
	visibility:hidden;
}

h1{
	font-size: 3em;
	text-align: center;
}
h2{
	font-size: 2em;
	text-align: center;
	line-height: 1em;
}
h4{
	text-align: center;
}

#hi_im_scooter_outer_container{
	text-align: center;
	height: 100%;
	display: block;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}
#hi_im_scooter_inner_container{
	width: 90%;
	top: 35%;
	margin-left: auto;
	margin-right: auto;	
	position: relative; /* THIS LINE moves this box over to the LEFT padding in the outer div...  Which is confusing because the very-well-written tutorial that I'm reading says this is part of making the inner div center vertically...  Puzzled */
}



#tagline{

}

div#projects_container{
	width: 100%;
	padding: 1em 0em 17em 0em;
}

div#resume_container{
	width: 100%;
/*	height: 80%;*/
	padding: 1em 0em 17em 0em;
}

div#about_container{
	padding: 1em 0em 17em 0em;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
}

div#contact_me_container{
	width: 100%;
	padding: 0em 0em 7em 0em;
}

